:root {
    /*#FF8255*/
    --color-1: oklch(0.7402 0.1638 40.05);

    /*#FFAB89*/
    --color-2: oklch(0.8294 0.1638 40.05);
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}


body {
    background-color: var(--color-1);
}