/*  COLOR OPTIONS  */
$white: oklch(1 0 89.876);
$white-soft: oklch(0.979 0 89.876);
$white-mute: oklch(0.961 0 89.876);

$black: oklch(0.209 0 89.876);
$black-soft: oklch(0.252 0 89.876);
$black-mute: oklch(0.277 0 89.876);

$indigo: oklch(0.356 0.039 248.975);

$divider-light-1: oklch(0.356 0 89.876 / 0.29);
$divider-light-2: oklch(0.356 0 89.876 / 0.12);
$divider-dark-1: oklch(0.446 0 89.876 / 0.65);
$divider-dark-2: oklch(0.446 0 89.876 / 0.48);

$text-light-1: $indigo;
$text-light-2: oklch(0.356 0 89.876 / 0.66);
$text-dark-1: $white;
$text-dark-2: oklch(0.94 0 89.876 / 0.64);


/*  SEMANTIC COLOR VARIABLES  */
$background: $white;
$background-soft: $white-soft;
$background-mute: #18171c;

$border: $divider-light-2;
$border-hover: $divider-light-1;

$heading: $text-light-1;
$text: $text-light-1;
