:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    /*color-scheme: light;*/
    /*background-color: rgb(238, 237, 237);*/

    color-scheme: dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* CSS HEX */
    /*--french-violet: #7400b8ff;*/
    /*--grape: #6930c3ff;*/
    /*--slate-blue: #5e60ceff;*/
    /*--united-nations-blue: #5390d9ff;*/
    /*--picton-blue: #4ea8deff;*/
    /*--aero: #48bfe3ff;*/
    /*--sky-blue: #56cfe1ff;*/
    /*--tiffany-blue: #64dfdfff;*/
    /*--turquoise: #72efddff;*/
    /*--aquamarine: #80ffdbff;*/

    /* CSS HSL */
    --french-violet: hsla(278, 100%, 36%, 1);
    --grape: hsla(263, 60%, 48%, 1);
    --slate-blue: hsla(239, 53%, 59%, 1);
    --united-nations-blue: hsla(213, 64%, 59%, 1);
    --picton-blue: hsla(203, 69%, 59%, 1);
    --aero: hsla(194, 73%, 59%, 1);
    --sky-blue: hsla(188, 70%, 61%, 1);
    --tiffany-blue: hsla(180, 66%, 63%, 1);
    --turquoise: hsla(171, 80%, 69%, 1);
    --aquamarine: hsla(163, 100%, 75%, 1);


    --header-size: 50px;

    --color-dark: #131314;
    --color-dark-2: #1e1f20;

    --page-horiz-padding: 15px;
    --page-vert-padding: 18px;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


#root {
    all: unset;
}


html, body {
    height: 100%;
}


body {
    background-color: var(--color-dark-2);
}


header {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px var(--page-horiz-padding);

    #logo {
        height: 45px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    nav {
        align-self: center;

        a {
            color: white;
            text-decoration: inherit;
            opacity: 0.7;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: opacity .1s ease-out, color .1s ease-out;
            font-size: 1.05em;

            &:not(:last-of-type) {
                margin-right: 10px;
            }

            &:hover {
                color: var(--tiffany-blue);
                opacity: 1;
            }
        }
    }
}


main {
    --top-padding: calc(var(--header-size) + var(--page-vert-padding));
    padding: var(--top-padding) var(--page-horiz-padding) var(--page-vert-padding) var(--page-horiz-padding);
}